body {
    margin: 0;
    overflow: hidden;
}
.desktop {
    width: 100vw;
    height: 94vh;
    box-sizing: border-box;
    position: relative;
    background-image: url("http://i.imgur.com/lojmr.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#gameArea {
    width: 45vw;
    height: 85vh;
    z-index: 10;
    background-color: white;
    position: absolute;
}
.topBar {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.phpIcon {
    height: 95%;
}
.topBarTitle {
    font-family: Arial;
}
#gameWindow {
    height: 95%;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    background-color: #2b2b2b;
    position: absolute;
    bottom: 0;
    border: 5px solid #3c3f41;
    border-top: none;
    border-bottom: 20px solid #3c3f41;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
}
.position {
    height: 11%;
    width: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tile {
    height: 90%;
    animation-name: fade;
    animation-duration: 2s;
}
.bottomBar {
    height: 6vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.startButton {
    background-color: #f0f0f0;
    box-sizing: border-box;
    height: 90%;
    width: 5%;
    border: 2px outset #a0a0a0;
}
.windows {
    height: 60%;
    position: relative;
    top: 50%;
    vertical-align: middle;
}
.startText {
    margin: 0 0 0 10%;
}
.scoreContainer {
    height: 90%;
    width: 80%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.score {
    background-color: #f0f0f0;
    box-sizing: border-box;
    margin: 0 0 0 1%;
    height: 100%;
    width: 5%;
    border: 2px outset #a0a0a0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.highScore {
    background-color: #f0f0f0;
    box-sizing: border-box;
    margin: 0 1% 0 0;
    height: 100%;
    width: 15%;
    border: 2px outset #a0a0a0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer {
    height: 90%;
    width: 15%;
    border: 2px inset #a0a0a0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalWinContainer {
    position: fixed;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background-color: white;
    border-radius: 25px;
    height: 30%;
    width: 35%;
}
.modalWin {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.modalLose {
    position: fixed;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 15%;
}
.win {
    width: 30%;
}
.lose {
    width: 100%;
}
.hidden {
    display: none;
}
.highlight {
    border-bottom: 3px dashed red;
    box-sizing: border-box;
}
.noAnimation {
    animation: none;
}
@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}